* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fcfbfb;
}

.slider {
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  border-radius: 30px;
  object-position: center center;
  display: block;
  border: 15px solid white;
}

#autoPlayBtn i,#pauseBtn i{
    margin-right: 8px;
}
/* Overlay Controls */
#prevBtn {
  position: absolute;
  top: 40%;
  left:2%;
  display: flex;
  padding: 7px 15px;
  font-size: 30px;
  color:white;
  background-color: transparent;
}
#prevBtn:hover{
  color:black;
   background-color: rgba(255, 255, 255, 0.8);
}
#nextBtn:hover{
  color:black;
   background-color: rgba(255, 255, 255, 0.8);
}

#nextBtn {
  position: absolute;
  top: 40%;
  right: 2%;
  display: flex;
  padding: 7px 15px;
   font-size: 30px;
     color:white;
  background-color: transparent;
}

.controls button {
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(203, 203, 203);
  border-radius: 10%;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: black;
  color: white;
}

#addBtn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 10px;
}

#addBtn:hover {
  background-color: black;
  color: white;
}

.add-section input {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(123, 123, 123);
}

.add-section {
  margin-top: 20px;
  align-items: center;
  padding:20px;
  background-color:white;
  border:1px solid rgb(215, 213, 213);
  border-radius: 50px;
}

.add-section:hover{
  background-color: rgb(255, 255, 255,0.9);
}
#caption {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.center-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 20px;
  color: white;
  font-size: 24px;
  z-index: 10;
}

.center-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
